html{
	height: 100%
	//background: url('../images/bg.jpg');
	//background-repeat: no-repeat;
	//background-size: cover;
	//background: -webkit-linear-gradient(green, yellow, red);
	//background: linear-gradient(green, yellow, red);
}

body{
	/* Default Background for old clients */
	//background: url('../images/bg.jpg');
	/* For Safari 5.1 to 6.0 */
	background: -webkit-linear-gradient(left, green, yellow, red);
	/* For Opera 11.1 to 12.0 */
	background: -o-linear-gradient(left, green, yellow, red);
	/* For Firefox 3.6 to 15 */
	background: -moz-linear-gradient(left, green, yellow, red);
	/* Standard Syntax */
	background: linear-gradient(to right, green, yellow, red);
	/* Single gradient with no repeat */
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

img{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -165px;
	margin-left: -245px;
}

#donate{
	position: fixed;
	bottom: 0;
	right: 0;
}

#notification{
	font-family: arial;
	position: fixed;
	bottom: 0;
	background-color: #A6D785;
}
