html{
	background: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
img{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -165px;
	margin-left: -245px;
}

#donate{
	position: fixed;
	bottom: 0;
	right: 0;
}

#notification{
	font-family: arial;
	position: fixed;
	bottom: 0;
	background-color: #A6D785;
}

.help-box {
	color: #555;
	border-radius: 10px;
	font-family: Tahoma,Geneva,Atial,sans-serif;
	font-size: 11px;
	padding: 10px 10px 36px;
	margin: 10px;
	background: #e9ffd9;
	border: 1px solid #a6ca8a;
	width: 100px;
	float: right;
}